<!-- The content below is only a placeholder and can be replaced. -->
<div class="bg-dark mb-2">
  <h3 class="text-white bg-secondary p-2">MS stack <small>Initializr &copy;</small></h3>
  <div class="w-100 d-flex flex-row justify-content-center align-middle">
    <img width="150" height="150" alt="Angular Logo" src="../assets/img/msstack-logo.png" />
    <h4 class="text-white-50 my-auto">Generate a model for your business need, and export as Java code</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap" /> -->
        <div class="card-body">
          <h5 class="card-title">Describe your model</h5>
          <p class="card-text">Define your entities, events, requests, responses and contracts</p>
        </div>
      </div>
      <app-entity-form (submit)="addEntity($event)" class="p-2"></app-entity-form>
    </div>
    <div class="col-6">
      <div class="card">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap" /> -->
        <div class="card-body">
          <h5 class="card-title">Export as JSON</h5>
          <!-- <p class="card-text"> -->
          <pre class="w-100 p-2 card-text"><code class="json w-100">{{modelToJSON()}}</code></pre>
          <!-- </p> -->
          <button type="button" class="btn btn-primary">Export</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
